dn: uid=admin,ou=users,dc=home,dc=swinney,dc=io
objectClass: organizationalPerson
objectClass: person
objectClass: inetOrgPerson
objectClass: top
cn: Admin
sn: Admin
mail: admin@home.swinney.io
uid: admin
userPassword: {crypt}x
