dn: dc=home,dc=swinney,dc=io
dc: home
objectClass: top
objectClass: domain

dn: cn=ldapadm,dc=home,dc=swinney,dc=io
objectClass: organizationalRole
cn: ldapadm
description: LDAP Manager

dn: ou=users,dc=home,dc=swinney,dc=io
objectClass: organizationalUnit
ou: users

dn: ou=groups,dc=home,dc=swinney,dc=io
objectClass: organizationalUnit
ou: groups

