dn: uid=developer,ou=users,dc=home,dc=swinney,dc=io
objectClass: organizationalPerson
objectClass: person
objectClass: inetOrgPerson
objectClass: top
cn: Developer
sn: Developer
mail: developer@home.swinney.io
uid: developer
userPassword: {crypt}x
