dn: cn=okd,ou=groups,dc=home,dc=swinney,dc=io
objectClass: top
objectClass: posixGroup
gidNumber: 100
memberUid: admin
memberUid: kubeadmin
memberUid: developer
memberUid: administrator
memberUid: lab

