dn: uid=kubeadmin,ou=users,dc=home,dc=swinney,dc=io
objectClass: organizationalPerson
objectClass: person
objectClass: inetOrgPerson
objectClass: top
cn: Kubeadmin
sn: Kubeadmin
mail: kubeadmin@home.swinney.io
uid: kubeadmin
userPassword: {crypt}x
