dn: uid=lab,ou=users,dc=home,dc=swinney,dc=io
objectClass: organizationalPerson
objectClass: person
objectClass: inetOrgPerson
objectClass: top
cn: Lab
sn: Lab
mail: lab@home.swinney.io
uid: lab
userPassword: {crypt}x
