<network>
  <name>okd</name>
  <forward mode='route' dev='bond0' />
  <bridge name='okd-br'/ stp='on' delay='0'>
#  <mac address='52:54:00:c2:4c:5f'/>
#  <dns>
#    <forwarder addr="10.0.0.2"/>
#  </dns>
#  <ip family='ipv4' address='192.168.1.63' prefix='24'>
#    <dhcp>
#      <bootp file="boot.ipxe" server="10.0.0.2"/>  
#      <range start='10.0.0.200' end='10.0.0.254'/>
#    </dhcp>
#  </ip>
</network>
